body{
    margin:0px;
    padding:0px;
    font-family: Helvetica;
}

h1{
  width:200px;
  margin-left:30vw;

}

@media(min-width:500px){

      #sidebar{
        width:200px;
        font-size:1em;
        position:absolute;
        padding:20px;
        top:100px;
        right:0px;
        
      }
      /* Instrument */

      #instrument{
          width:80vw;
          max-width:500px;
          min-width:250px;
          margin:0px auto;
          padding:0px;
          font-size:1em;
          
        }
        
        #position1{
          width:100vw;
          height:100vh;
          max-width:400px;
          max-height:300px;
        }

        #envelope1{
          width:100vw;
          height:100vh;
          max-width:296px;
          max-height:200px;
        }

        #slider1{
          width:100vw;
          height:100vh;
          max-width:400px;
          max-height:10vh;
          min-height:50px;
        }

        #toggle1{
          width:100vw;
          height:100vh;
          max-width:100px;
          max-height:100px;

        }

        #dial1{
          width:100vw;
          height:100vh;
          max-width:100px;
          max-height:100px;
        }   

        #side{
          max-width:100px;
          display:inline-block;
        }
      }

    @media(max-width:500px){

      #instrument{
          width:80vw;
          max-width:500px;
          min-width:450px;
          margin:0px auto;
          padding:0px;
        
        }
        
        #position1{
          width:100vw;
          height:100vh;
          max-width:400px;
          max-height:300px;
        }

        #envelope1{
          width:100vw;
          height:100vh;
          max-width:296px;
          max-height:200px;
        }

        #slider1{
          width:100vw;
          height:100vh;
          max-width:400px;
          max-height:10vh;
          min-height:50px;
        }

        #toggle1{
          width:100vw;
          height:100vh;
          max-width:100px;
          max-height:100px;

        }

        #dial1{
          width:100vw;
          height:100vh;
          max-width:100px;
          max-height:100px;
        }   

        #side{
          max-width:100px;
          display:inline-block;
        }
      }

      @media(max-width:800px){
        #sidebar{
          width:100vw;
          font-size:1em;
          position:relative;
          padding:20px;
          margin:0px auto;
        
        }

        #sidebar p{
          padding:5px;
        }
          
      }

